In [32]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

df = pd.read_csv("dataset\\train.csv", encoding = 'ISO-8859-1')

In [33]:
#extract the number of bedrooms and bathrooms from the dataset, the ID and the Saleprice corresponding to them
df = df[['Id','LotArea','BedroomAbvGr','FullBath','SalePrice']]
df

        Id  LotArea  BedroomAbvGr  FullBath  SalePrice
0        1     8450             3         2     208500
1        2     9600             3         2     181500
2        3    11250             3         2     223500
3        4     9550             3         1     140000
4        5    14260             4         2     250000
...    ...      ...           ...       ...        ...
1455  1456     7917             3         2     175000
1456  1457    13175             3         2     210000
1457  1458     9042             4         2     266500
1458  1459     9717             2         1     142125
1459  1460     9937             3         1     147500

[1460 rows x 5 columns]

In [34]:
df.isnull().sum()

Id              0
LotArea         0
BedroomAbvGr    0
FullBath        0
SalePrice       0
dtype: int64

In [35]:
X = df.drop(columns = 'SalePrice')
X

        Id  LotArea  BedroomAbvGr  FullBath
0        1     8450             3         2
1        2     9600             3         2
2        3    11250             3         2
3        4     9550             3         1
4        5    14260             4         2
...    ...      ...           ...       ...
1455  1456     7917             3         2
1456  1457    13175             3         2
1457  1458     9042             4         2
1458  1459     9717             2         1
1459  1460     9937             3         1

[1460 rows x 4 columns]

In [36]:
Y = df['SalePrice']
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2)
lr = LinearRegression()
lr.fit(X_train, Y_train)

c = lr.intercept_
c

np.float64(55644.1114428094)

In [37]:
m = lr.coef_
m

array([-2.50510233e+00,  1.40663602e+00, -5.69044607e+03,  8.14311957e+04])

In [38]:
y_pred_train = lr.predict(X_train)
y_pred_train

array([215904.25250707, 129908.8357134 , 432210.13709545, ...,
       211231.93471529, 132230.07252652, 131260.74073715])

In [39]:
from sklearn.metrics import r2_score
r2_score(Y_train, y_pred_train)

0.3501377054814315